@model IEnumerable<Medical.ViewModel.OrderDetailViewModel>

@{
    ViewData["Title"] = "list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h3 class="display-3 text-white animated zoomIn">訂單</h3>
        </div>
    </div>
</div>
<!-- Hero End -->
<hr />

<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">產品編號</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商品名稱</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商品照片</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">購買日期</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Html.DisplayNameFor(model => model.Quantity)</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">購買者</font></font></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                        foreach (var item in Model)
                        {
                            count++;

                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                                </td>
                                <td>
                                    這裡是照片
                                </td>
                                <td>
                                    <div class="sparkbar" data-color="#00a65a" data-height="20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> @Html.DisplayFor(modelItem => item.Order.OrderDate)</font></font></div>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td>@Html.DisplayFor(modelItem => item.Member.MemberName)</td>
                                <td>
                                    @Html.ActionLink("新增評論", "createReview", new { id = item.Product.ProductId }, new { @class = "btn btn-primary" })
                                </td>
                                <td>
                                    <button type="button" id="GoReserve"  class="btn btn-primary GoReserve" data-bs-toggle="modal" data-bs-target="#exampleModal">我要預約</button>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">回到上一頁</a>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">預約</h5>
                <input type="hidden" id="hiddenID" />
                <input type="hidden" id="hiddenID2" />
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body pt-0">
                    <div class="row">
                        <div id="re" class="col-7">
                            <h1>確認預約</h1>

                        </div>
                        <div class="col-5 text-center">
                            <img src="../../dist/img/user1-128x128.jpg" alt="user-avatar" class="img-circle img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="out" type="button" class="btn btn-secondary" data-bs-dismiss="modal">退出</button>
                <button id="startReserve" type="button" class="btn btn-primary">送出預約</button>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>


    </script>
}