@model IEnumerable<Medical.ViewModel.CClinicDetailAdminViewModel>

@{
    Layout = null;
}

<table id="tbl_result" class="table table-bordered table-striped" width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC" style="border-collapse: collapse;">
    <tr class="ti_blue titHeight">
        <td class="ti_green">序號</td>
        <td class="ti_green">醫生</td>
        <td class="ti_green">科目</td>
        <td class="ti_green">時段</td>
        <td class="ti_green">診間</td>
        <td class="ti_green">開診日期</td>
        <td>是否重覆開診</td>
    </tr>
    @if (Model != null)
    {
        int i = 0;
        foreach (var item in Model)
        {
            i++;
            <tr>


                <td>
                    <label name="count">@i</label>
                </td>
                <td>
                    <label name="doctorName">@item.doctorName</label>
                </td>
                <td>
                    <label name="deptName">@item.deptName</label>
                </td>
                <td>
                    <label name="periodName">@item.periodName</label>
                </td>
                <td>
                    <label name="RoomId">@item.RoomId</label>
                </td>
                <td>
                    <label name="ClinicDate">@item.ClinicDate.Value.ToShortDateString()</label>
                </td>
                <td>
                    @{
                        if (@item.repeat)
                        {

                            <span class="badge badge-pill badge-warning repeat">已重覆</span>
                        }
                    }
                </td>

            </tr>
        }
    }
    else
    {
        <tr>
            <td class="f_word_left" colspan="7">
                查無資料！
            </td>
        </tr>
    }

</table>

<span class="badge badge-light" id="repeatDefault" hidden="hidden">@TempData["repeatKey"]</span>

<script>
    //$('.btnDEL').click(function () {
    //    Swal.fire({
    //        title: '刪除',
    //        text: "",
    //        icon: 'success'
    //    })
    //});
</script>

